[mytardisfs]
mytardis_install_dir = /srv/mytardis
mytardis_url = http://mytardis-uat.cmca.uwa.edu.au
auth_provider = ldap
experiments_list_cache_time_seconds = 30
experiment_datasets_cache_time_seconds = 30
dataset_datafiles_cache_time_seconds = 30
default_directory_size = 4096
use_api_for_dataset_datafiles = False
